//>>>>> Component Button Here <<<<<//
.theme-btn {
    position: relative;
    z-index: 2;
    overflow: hidden;
    vertical-align: middle;
    display: inline-block;
    border: none;
    text-transform: capitalize;
    text-align: center;
    border-radius: 30px;
    background: linear-gradient(90deg, #3758EE 0%, #B666E7 100%);
    color: $white;
    font-size: 18px;
    font-weight: 600;
    line-height: 1;
    padding: 20px 30px;
   // min-width: 170px;

    i {
        margin-left: 5px;
        transform: rotate(-40deg);
        @include transition;
    }

    &::before {
        content: "";
        position: absolute;
        height: 100%;
        bottom: 0;
        left: 0;
        width: 0;
        background-color: $header-color;
        z-index: -1;
        transition: all 0.4s ease-out;
        border-radius: inherit;
    }

    &.bg-white {
        background: $white;
        color: $header-color;

        &::before {
            background: linear-gradient(90deg, #3758EE 0%, #B666E7 100%);
        }
    }

    &.bg-black {
        background: $white !important;
        color: $header-color;

        &::before {
            background: linear-gradient(90deg, #3758EE 0%, #B666E7 100%);
        }
    }

    &:hover {
        color: $white;
        box-shadow: none;

        i {
            transform: rotate(0);
        }

        &::before {
            width: 100%;
        }
    }


    @include breakpoint (max-md){
        padding: 20px 32px;
    }

    @include breakpoint (max-sm){
        padding: 18px 30px;
        font-size: 14px;
    }
}

.link-btns {
    font-size: 18px;
    font-weight: 400;
    display: inline-block;
    font-family: "Open Sans", sans-serif;
    text-transform: capitalize;
    color: $theme-color;
    text-decoration: underline;

    i {
        transform: rotate(-40deg);
        @include transition;
        font-weight: 400;
    }

    &:hover {

        i {
            transform: rotate(0);
        }
    }
}

//>>>>> Component Button End <<<<<//