.testimonial-wrapper {
    border-top-left-radius: 18px;
    position: relative;
    overflow: hidden;

    &::before {
        @include before;
        background-color: $header-color;
        width: 51%;
        border-top-left-radius: 18px;
        border-bottom-left-radius: 18px;

        @include breakpoint (max-xl) {
            display: none;
        }
    }

    .testimonial-item {
        padding: 0px 30px;
        position: relative;

        @include breakpoint (max-xl) {
            padding: 50px;
            background-color: $header-color;
            border-radius: 18px;
        }

        @include breakpoint (max-lg) {
            padding: 50px;
        }

        @include breakpoint (max-md) {
            padding: 40px;
        }

        @include breakpoint (max-sm) {
            padding: 30px;
        }

        .content {
            .icon {
                margin-bottom: 20px;
            }

            p {
                font-size: 24px;
                color: $white;

                @include breakpoint (max-xl) {
                    font-size: 16px;
                 }
            }

            .info-content {
                margin-top: 70px;

                @include breakpoint (max-xl) {
                   margin-top: 40px;
                 }

                h3 {
                    color: $white;
                }

                p {
                    color: $white;
                }
            }
        }

        .array-buttons {
            position: absolute;
            right: 10px;
            bottom: 0;
            z-index: 9;

            @include breakpoint (max-xl) {
                display: none;
             }

            .array-next {

                &:hover {
                    background-color: $white;
                    color: $header-color;
                }
            }
        }
    }

    .testimonial-image {
        img {
            @include imgw;
            border-top-right-radius: 18px;
            border-bottom-right-radius: 18px;

            @include breakpoint (max-xl) {
                border-radius: 18px;
            }
        }
    }
}

.testimonial-wrapper-2 {
    margin-top: 60px;
    
    .testimonial-item {
        @include flex;
        justify-content: space-between;
        border-radius: 18px;
        border: 1px solid rgba(25, 35, 53, 0.20);
        padding: 0 0px 0 30px;

        @include breakpoint (max-lg) {
            flex-wrap: wrap;
            gap: 30px;
            padding: 30px;
        }


        .content-ber {

            .content {
                p {
                    border-bottom: 1px solid rgba(25, 35, 53, 0.20);
                    padding-bottom: 30px;
                    margin-bottom: 30px;
                    max-width: 483px;
                    font-size: 18px;
                    color: $header-color;
                }
            }

            .icon {
                margin-bottom: 30px;
            }
        }

        .image {

            @include breakpoint (max-lg) {
               flex-basis: 100%;
            }

            img {
               
                border-radius: 0px 18px 18px 0px;

                @include breakpoint (max-xl) {
                    border-radius: 18px;
                }

                @include breakpoint (max-lg) {
                    @include imgw;
                 }
            }
        }
    }

    .testimonial-image-item {
        @include flex;
        justify-content: space-between;

        @include breakpoint (max-xl) {
            gap: 30px;
            justify-content: initial;
        }

        @include breakpoint (max-md) {
            gap: 12px;
        }

        .testimonial-image {
            img {
                @include imgw;
                border-radius: 18px;
            }
        }
    }
}

.testimonial-wrapper-3 {
    text-align: center;
    position: relative;

    .array-buttons {

        @include breakpoint (max-xl) {
            display: none;
        }

        .array-prev {
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
        }

        .array-next {
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
        }
    }

    .testimonial-item {

        .icon {
            margin-bottom: 24px;
        }

        .content {
            margin-bottom: 30px;

            p {
                font-size: 34px;
                font-weight: 400;
                letter-spacing: -1.02px;
                line-height: 152%;
                color: $header-color;

                @include breakpoint (max-sm) {
                    font-size: 25px;
                }
            }
        }

        .info-text {
            .star {
                color: rgba(236, 176, 20, 1);
                margin-bottom: 10px;
            }

            h4 {
                margin-bottom: 5px;
            }
        }
    }
}